/* Here below you should make your changes */
@keyframes static {
    0% {background-image: url(resources/tv.png), 
        linear-gradient(to right,yellow 14% , cyan 14% 28% , green 28% 42.6% , magenta 42.6% 56%, red 56% 70%, darkblue 70% 84%, black 84% 100%)
        ;background-size: 500px 350px, 295px 300px; background-position: 100%, 35% 50%;
    }
    100% {background-image: url(resources/tv.png), linear-gradient(to left,yellow 14% , cyan 14% 28% , green 28% 42.6% , magenta 42.6% 56%, red 56% 70%, darkblue 70% 84%, black 84% 100%);
    background-size: 500px 350px, 295px 300px; background-position: 100%, 35% 50%;
}

}

@keyframes intro {    
    100% {background-image: url(resources/tv.png), url(resources/intro.png);
        background-size: 500px 350px, 360px 300px; background-position: 100%, 25% 50%;
    }
}


@keyframes level-1 {
    0% {background-image: url(resources/tv.png), url(resources/stage1.png) repeat-x;
       /* background-size: 500px 350px, 360px 300px; background-position: 100%, 25% 50%; */
       transform: translate3d(0, 0, 0), translate3d(0, 0, 0);
    }
    100% {background-image: url(resources/tv.png), url(resources/stage1.png) repeat-x;
        /* background-size: 500px 350px, 360px 300px; background-position: 100%, 25% 50%; */
        transform: translate3d(0, 0, 0),translate3d(-300px, 0, 0);
    }
}

@keyframes level-13 {
    from { background-image: url(resources/stage1.png);
       background-size: 360px 300px; background-position: 25% 50%;
       transform: translate3d(0, 0, 0) translate3d(0, 0, 0);
    }
    to {background-image:  url(resources/stage1.png); left: -100%;
        background-size: 360px 300px; background-position: 25% 50%;
        transform: translate3d(0, 0, 0) translate3d(-300px, 0, 0);
    }
}



@keyframes move-cartridge {
    33% {
        bottom: 0px;
        opacity: 1;
    }
    66% {
        bottom: 150px;
        opacity: 0.5;
    }
    100% {
        bottom: 160px;
        opacity: 0;
    }
}

.intro {
    animation: intro -2s 1s forwards;
} 


.level-1 {
    /* height: 300px;
    width: 360px; */
    /* left: 0;
    height: 360px;
    width: 900px; */
    animation: level-1 8s forwards linear;
    /* animation: level-1 3s linear 1s infinite running;  */


}

.static {
    animation: static 2s forwards 2 alternate linear;

}


.move-cartridge {
    animation: move-cartridge 2s forwards linear;
} 

#television {
    height: 350px;
    width: 500px;
    margin: 0 auto;
    overflow: hidden;
    background-image: url(resources/tv.png);
    background-size: 500px 350px;
    background-position: 100%;
    background-repeat: no-repeat;
}

/* #television {
    height: 350px;
    width: 500px;
    margin: 0 auto;
    background-image: url(resources/tv.png),linear-gradient(to right,yellow 14% , cyan 14% 28% , green 28% 42.6% , magenta 42.6% 56%, red 56% 70%, darkblue 70% 84%, black 84% 100%);
    background-size: 500px 350px, 295px 300px;
    background-position: 100%, 35% 50% ;
    background-repeat: no-repeat;
} */


#nes-console {
    height: 200px;
    width: 300px;
    margin: 0 auto;
    margin-top: 40px;
    background-image: url(resources/nes.png);
    background-size: cover;
}

#nes-cartridge {
    position: absolute;
    height: 100px;
    width: 100px;
    left: 300px;
    bottom: 0px;
    background-image: url(resources/contra-cartridge.png);
    background-size: cover;
    transform: rotateZ(45deg) rotateX(30deg);
}

