/* Here below you should make your changes */
@keyframes static {
    /* Insert your changes */
}

@keyframes level-1 {
    /* Insert your changes */
}

@keyframes move-cartridge {
    /* Insert your changes */
}

.intro {
   
} 

.level-1 {
}

.static {
    background-image: url(resources/tv.png);
    background-size: cover;
}

.move-cartridge {

} 

#television {
    height: 350px;
    width: 500px;
    margin: 0 auto;
}

#nes-console {
    height: 200px;
    width: 300px;
    margin: 0 auto;
    margin-top: 40px;
    background-image: url(resources/nes.png);
    background-size: cover;
}

#nes-cartridge {
    position: absolute;
    height: 100px;
    width: 100px;
    left: 300px;
    bottom: 0px;
    background-image: url(resources/contra-cartridge.png);
    background-size: cover;
    transform: skewX(-25deg);
}
